config HAVE_ASAN
	bool

if HAVE_ASAN

config ASAN
	bool "AddressSanitizer: dynamic memory error detector"
	help
	  Enables AddressSanitizer - dynamic memory error detector,
	  that finds heap-buffer-overflow and heap-use-after-free bugs.

endif
