config HAVE_ARCH_ASAN
	bool

if HAVE_ARCH_ASAN

config ASAN
	bool "AddressSanitizer: dynamic memory error detector"
	depends on SLAB
	depends on !DEBUG_SLAB
	depends on !DEBUG_PAGEALLOC
	depends on !KMEMCHECK
	default n
	help
	  Enables AddressSanitizer - dynamic memory error detector,
	  that finds out-of-bounds and use-after-free bugs.

config ASAN_QUARANTINE_SIZE
	int "AddressSanitizer: quarantine size in MB"
	depends on ASAN
	default 128
	help
	  Select the maximum total size of quarantine in MB.
	  AddressSanitizer puts memory blocks in quarantine instead of
	  freeing them so they are not reallocated and reused any time soon.

config ASAN_SHADOW_OFFSET
	hex "AddressSanitizer: offset of shadow memory"
	depends on ASAN
	default 0x36400600
	help
	  Select the offset in bytes of the shadow memory region
	  within the physical memory.

config ASAN_STACK_ORDER_ADD
	hex "AddressSanitizer: enlarge stacks order"
	depends on ASAN
	default 2
	help
	  Enlarge all stacks 2^this_value times

endif
