config HAVE_ARCH_ASAN
	bool

if HAVE_ARCH_ASAN

config ASAN
	bool "AddressSanitizer: dynamic memory error detector"
	depends on SLAB
	depends on !DEBUG_SLAB
	depends on !DEBUG_PAGEALLOC
	depends on !KMEMCHECK
	help
	  Enables AddressSanitizer - dynamic memory error detector,
	  that finds out-of-bounds and use-after-free bugs.

endif
